/* General page styling */
body {
    margin: 0;
    padding: 0;
    background-color: #656565;
    /* Background color */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding: 20px;
    background-color: #515151;
    /* Navbar background color */
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #515151;
    /* Footer background color */
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}

/* Main content layout */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

/* Style for the projects grid centered in the screen */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Three columns */
    gap: 20px;
    /* Adjusted to maintain uniform spacing */
    padding: 20px;
    background-color: #656565;
    /* Same color as the body background */
    max-width: 66vw;
    /* Set to 66% of the viewport width */
    margin: 0 auto;
    /* Center the grid */
    justify-items: center;
    /* Center the items in the grid */
}

/* Style for each project tile */
.project-tile {
    position: relative;
    padding: 20px;
    color: white;
    height: 200px;
    /* Adjusted height */
    width: 300px;
    /* Adjusted width */
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.project-tile::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.project-content {
    z-index: 2;
}

.project-tile h3 {
    margin-bottom: 5px;
    font-size: 1.5em;
}

.project-tile p {
    font-size: 1em;
}

.project-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

/* Move the icon to the top-left corner */
.icon {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
}

.icon img {
    width: 40px;
    height: 40px;
}